.inter-unique {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fefbfc;
  margin: 0 80px 0 80px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  gap: 50px;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
nav > h2 {
  text-decoration: underline;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
}

nav > ul > li > a {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

#hero {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  margin: 104px 0 0 0;
}
#hero > .hero-text > h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}
#hero > .hero-text > p {
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0 20px 0;
}
#hero > img {
  border-radius: 50%;
  width: 240px;
  height: 240px;
}
#projects > h2 {
  margin: 100px 0 0 0;
  font-size: 35px;
}
#projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.card-container {
  background-color: #d9d9d9;
  list-style: none;
  padding: 15px;
  max-width: 468px;
  margin-top: 39px;
}

.card-container > h5 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-container > h6 {
  font-size: 16px;
  font-weight: normal;
  color: #a3979e;
  margin: 0;
}

.tech-stack {
  display: inline-flex;
  list-style: none;
  gap: 15px;
}

.badge {
  font-size: 0.8rem;
  padding: 5px 7px;
  color: #ffffff;
  border-radius: 8px;
}

.badge.laravel {
  background-color: #f9322c;
}

.badge.react {
  background-color: #264de4;
}

.bottom-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #2d1724;
  text-decoration: underline;
  font-weight: bold;
}

.personal-projects > img {
  max-width: 498px;
}

.personal-projects > h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 100px 0 0 0;
}

.personal-projects-container {
  display: flex;
  flex-direction: column;
  width: 498px;
}

.personal-projects-container > img {
  width: 100%;
  font-weight: normal;
  margin-top: 20px;
}

.personal-card-container {
  background-color: #d9d9d9;
  list-style: none;
  padding: 15px;
  max-width: 468px;
}

.personal-card-container > h5 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.personal-card-container > h6 {
  font-size: 16px;
  font-weight: normal;
  color: #a3979e;
  margin: 0;
}

.badge.html {
  background-color: #f23b2e;
}

.badge.css {
  background-color: #264de4;
}

.personal-writings > h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 100px 0 0 0;
}

.personal-writings-container > a {
  display: block;
  margin: 40px 0 40px 0;
  font-weight: normal;
  font-size: 25px;
}

footer {
  margin-top: 150px;
  display: flex;
  justify-content: start;
  gap: 500px;
  align-items: center;
  padding: 20px 0 20px 0;
}

.right-footer {
  align-items: flex-start;
}

.right-footer > a {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}

/* Contact Page */
